*{
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	

}
body{
	font-family: Arial, Helvetica, san-serif;
	font-weight: bold;
	
	
}


.section{
	background-color: grey;
	border: 2px solid black;
	margin-top: 20px ;
	margin-left: 110px;
	height: auto;
	width: auto;
	


}

h1{
	text-align: center;
	margin: 30px;
	margin-bottom: 50px;

}
h2{
	float: right;
	position: relative;
	color: white;
	
}
p{
	clear: right;
	padding: 10px;
	

}

.subhead > h2 {
	border:2px solid black;

}
.subhead > #subhead1{
	background: maroon;
}
.subhead > #subhead2{
	background: blue;
}
.subhead > #subhead3{
	background: red;
}

@media (min-width:992px){
	#sec1, #sec2, #sec3{
		float: left;

	}
	#sec1{
		width: 25%
	}
	#sec2{
		width: 25%
	}
	#sec3{
		width: 25%
	}
}

